<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuwu.blog.model.mapper.CommentMapper">
	<sql id="comments_allColumns">
		a4.id as a4_id,
		a4.content as a4_content,
		a4.authorId as a4_authorId,
		a4.articleId as a4_articleId,
		a4.created as a4_created,
		a4.createdBy as a4_createdBy,
		a4.updated as a4_updated,
		a4.updatedBy as a4_updatedBy
	</sql>
	<resultMap type="com.fuwu.blog.dto.response.CommentDTO" id="comment_map">
		<id property="id" column="a4_id"/>
		<result property="articleId" column="a4_articleId"/>
		<result property="content" column="a4_content"/>
		<result property="created" column="a4_created"/>
		<result property="createdBy" column="a4_createdBy"/>
		<result property="updated" column="a4_updated"/>
		<result property="updatedBy" column="a4_updatedBy"/>
		<association property="author" javaType="com.fuwu.blog.dto.response.UserDTO" >
			<id property="id" column="a2_id"/>
			<result property="loginName" column="a2_loginName"/>
			<result property="nickname" column="a2_nickname"/>
			<result property="email" column="a2_email"/>
			<result property="avatar" column="a2_avatar"/>
			<result property="created" column="a2_created"/>
			<result property="createdBy" column="a2_createdBy"/>
			<result property="updated" column="a2_updated"/>
			<result property="updatedBy" column="a2_updatedBy"/>
		</association>
	</resultMap>
	<select id="fetchById" resultMap="comment_map">
		select
			<include refid="comments_allColumns"/>,
			<include refid="com.fuwu.blog.model.mapper.UserMapper.users_allColumns"/>
		from comments a4 
			join users a2 on a4.authorId=a2.id
		where a4.id = #{id}
	</select>
	
	<select id="fetch" resultMap="comment_map">
		select
			<include refid="comments_allColumns"/>,
			<include refid="com.fuwu.blog.model.mapper.UserMapper.users_allColumns"/>
		from comments a4 
			join users a2 on a4.authorId=a2.id
		where 1=1	
		<if test="authorId!=null">
  				and a4.authorId=#{authorId}
  		</if>
  		<if test="articleId!=null">
  				and a4.articleId=#{articleId}
  		</if>
	</select>
	
	<select id="fetchCommentsByArticleId" resultMap="comment_map">
		select
			<include refid="comments_allColumns"/>,
			<include refid="com.fuwu.blog.model.mapper.UserMapper.users_allColumns"/>
		from comments a4 
			join users a2 on a4.authorId=a2.id
		where a4.articleId=#{id}
	</select>
	<insert id="create" useGeneratedKeys="true" keyProperty="id">
		 insert into comments (content,authorId,articleId,createdBy,updatedBy) 
		 values(#{content},#{authorId},#{articleId},#{createdBy},#{updatedBy})
	</insert>
	<update id="update">
		update 
			comments 
		set 
			content=#{content}
		where 
			id=#{id}		
	</update>
	<delete id="deleteById">
		delete from comments where id=#{id}
	</delete>
	<delete id="batchDeleteByIds">
		delete from comments where id in
		<foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
		  #{id}
		</foreach>
	</delete>
	
	
</mapper>